/* You can add global styles to this file, and also import other style files */

.mouse-hover {
    cursor: pointer;
}

form label {
    text-transform: uppercase;
    color: grey;
}

form input::placeholder {
    color: #c0bdbd;
    font-weight: 300;
}

form.submitted input.ng-invalid {
    border-color: #9c40a8;
}

form input.ng-valid {
    border-color: #407ea8;
}

body {
    background-image: url('././assets/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.contenido {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin: 30px;
}


.inputs {
    border-radius: 50px;
    border: 1px solid #407ea8;
}


.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}


.btn-slide{
    color: #407ea8; 
    border: 2px solid #407ea8; 
    padding: 10px 20px;
    border-radius: 50px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn-slide::after {
    content: "";
    background: #407ea8; 
    position: absolute;
    z-index: -1;
    padding: 10px 20px;
    display: block;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .btn-slide:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .btn-slide:hover {
    color: #fff; 
  }